<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title%></title>
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <h1>Codeial | Home</h1>

    <% if(locals.user){ %>
    <p><%=locals.user.name%></p>
    <div>
      <a href="/users/sign-out">Sign Out</a>
    </div>
    <%}else{%>
    <button>
      <a href="/users/sign-in">Sign In</a>
    </button>
    <button>
      <a href="/users/sign-up">Sign Up</a></button
    ><%}%>
  </body>
</html>
